body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #daf4ff;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

h1 {
  margin: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

h2 {
  margin: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.card-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* CSS */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: 10px;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 20%;
  margin: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  background-color: #f5f5f5;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #000;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.card-text {
  font-size: 1rem;
  color: #000;
  text-align: center;
}

footer {
  margin: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .card-collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .button-container {
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
  }

  .card {
    width: 50%;
  }

  .button-50 {
    padding: 10px 2%;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    margin: 5px;
  }
}
